# Ignore Mac system files
.DS_store

# Ignore pycache
__pycache__/

# Ignore node_modules folder
node_modules

# Ignore json files
json/
*.json

# Ignore all text files
*.txt
doc/

# Ignore img folder
img/

# Ignore lib
lib/

# Ignore all log files
*.log
log/

# Ignore dist folder
dist/

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache